<!DOCTYPE html>
<html>
    <head>
        <title> Viridiana Jaquez Alvarado </title> <link href="CSS1.css" type="text/css" rel="stylesheet" /> 
    </head>
    <body> 
    <h1> Viridiana Jaquez Alvarado </h1>
    <h5> Email: <a href="mailto:jaquezviridiana@yahoo.com?Subject=Viris%20Website%20Inquire">jaquezviridiana@yahoo.com</a> 
    Phone Number: (720) 985-9717 LinkedIn <a href="www.linkedin.com/in/viridiana-jaquez-a5073099"> Profile </a> </h5>
    <h2> Skills:</h2>
    <ul>
        <li>Proficient in several programming languages and documentation practices. E.g. HTML, CSS, JavaScript and Java</li>
        <li>Experienced in Cloud9 web-development, Ruby on Rails framework, and Heroku web-hosting site. </li>
        <li>Bilingual in English and Spanish (writing, reading and speaking)</li>
        <li>Experienced with data-centered software and Microsoft Office Suites. E.g. Salesforce, iContact, MS Office 2010-2016</li>
        <li>Familiarity with Windows, Mac OS X, and Linux application</li>
        <li>Knowledge of using flow charts for business needs and documentation.</li>
        <li>Experience with training, educating and providing workshops for internal and external personnel.</li>
    </ul>
    <p> <h2>Education:</h2> <br /> <b>Metropolitan State University of Denver</b> August 2011- Dec. 2015
    <br /> Bachelor of Science: Computer Information Systems- Cum Laude</p>
    
    <p> <h2>Experience:</h2> <br /> <b>ERP Advisors Group-Project Administrator </b>    April 2016 – Present <br />
    Initiate application projects with customers, develop business cases, set up interviews 
    with clients tounderstand their needs, in charge of project budgets (both for ERP, and vendors) 
    for the client, data migration and data mapping. <br />
    
    <b>Denver Public Schools- Outreach Associate </b> Jan. 2013 – Dec.2015  <br /> 
    Train and educated DPS English and Spanish speaking families to use the Parent Portal as a tool to monitor 
    student progress. Provided technical support to DPS families and address accessibility issues. 
    Drove social media plan to increase adoption and usage of the Parent and Student Portal. 
    Generated Salesforce reports for targeting parents across the DPS school district. 
    Implemented large-scale communication methods for outreach to DPS community via iContact. <br />
    
    <b>McDonald’s Swing Manager & Floor Supervisor </b> March 2011 – Jan. 2013 <br />
    Established an environment of team work to ensure customer service was efficient 
    and effective. Lead daily startup of the store. Responsible for counting the monetary 
    intake after each shift. Modeled excellent customer service and good work ethic. 
    Provided feedback and coaching to team members to support professional growth.</p>
    </body>
</html>