<!DOCTYPE html>

<html>
  
  <head>
  
    <title>Viridiana Jaquez</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    
    <!-- Compiled and minified Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          
  </head>
  
  <body bgcolor="#ffffff">
    <!--  e8eaf6 -->
    
    <header>
      <div class="navbar-fixed">
        <nav class="z-depth-0">
          <div class="nav-wrapper  indigo accent-2">
            <a href="#!" class="brand-logo center"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="left hide-on-med-and-down">
              <li><a href="http://download940.mediafire.com/u5phujlcc5ag/fuwue4ntxk7qkgl/JaquezResume-Web.pdf" download="JaquezResume.pdf">Download Resume
                <i class="mdi-content-send right"><i class="material-icons">file_download</i></i></a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo"> 
              <li><a href="http://download940.mediafire.com/u5phujlcc5ag/fuwue4ntxk7qkgl/JaquezResume-Web.pdf" download="JaquezResume.pdf">Download Resume
                <i class="mdi-content-send right"><i class="material-icons">file_download</i></i></a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header> <!-- End of Nav Bar -->
    
    <header class=" indigo accent-2">
      <div align="center"><img src="https://media.licdn.com/media/AAEAAQAAAAAAAAe-AAAAJGIyZmNhODc0LTdkYjktNDgxNS1iNGJmLTk4NzA3NzU4ZTFiZg.jpg" class="circle responsive-img center-align" alt class="circle responsive-img center-align" width="150px" height="150px" >
        <h1 class="center-align grey-text text-lighten-5">Viridiana Jaquez</h1>
        <button class="waves-effect waves-light indigo accent-1 btn">
          <a class="white-text" href="http://download940.mediafire.com/u5phujlcc5ag/fuwue4ntxk7qkgl/JaquezResume-Web.pdf" download="JaquezResume.pdf">Download Resume
            <i class="mdi-content-send right"> <i class="material-icons">file_download</i> </i> </a>
        </button>
        <h1 class="center-align grey-text text-lighten-5"></h1>
        <p class="center-align grey lighten-4 grey-text text-darken-1"><strong class="indigo-text  darken-4">Jr. Web Developer</strong></p>
      </div>

    </header> <!-- End of Header -->

    <!-- ****************** About Container ****************** -->
    <div class="container">
      <div class="container about" style="width: 85%">
        <h2 class="header right-align title-header">About Me</h2>
        <hr>
        
        <div class="row">
          <div class="col s12 m8 l8 blue-grey-text text-darken-3">
            <p class="flow-text" align="center">
                Hello! I'm <strong class="indigo-text  darken-4">Viridiana Jaquez</strong> and I am a <strong>Jr. Web 
                Developer</strong> based in
                Denver, CO. I enjoy working on <strong class="indigo-text lighten-1">usable, clean and
                practical</strong> projects.
            </p>
          </div>
          
          <div class="col s12 m4 l4 blue-grey-text text-darken-3">
            <div class="card deep-orange lighten-4 z-depth-3">
              <div class="card-content deep-orange-text">
                <img src="https://lh3.googleusercontent.com/-WpRqy1li10g/AAAAAAAAAAI/AAAAAAAAABY/TnU2a2ltRlM/s120-c/photo.jpg" class="circle responsive-img center-align" alt class="circle responsive-img center-align" width="64" height="64">
                <p>Bachelors of Science in Computer Information Systems and bilingual in English and Spanish (reading, writing and speaking).</p>
              </div>
            </div>
          </div>
        </div> 
      </div> 

    </div> <!-- End of About Container -->

    <!-- ****************    Connect Section    **************** -->
    
    <div class="container">
      <div class="row">
        <h2 class="header left-align title-header">Connect</h2>
        <div class="row">
          
          <div class="col s6 m4 l4 blue-grey-text text-darken-3">
            
            <div class="card deep-orange lighten-4 z-depth-3">
              <div class="card-content white-text">
                <p class="flow-text" align="center">
                  Hi! <strong class="indigo-text  darken-4">feel free</strong> to <strong class="indigo-text  darken-4">connect</strong> 
                  with me on <strong class="indigo-text lighten-1">Linkedin, GitHub and
                  Google+!</strong>
                </p>
              </div>
            </div>
          </div>
          
          <div class="col s6 m4 l4 blue-grey-text text-darken-3">
            
            <div class="card indigo accent-2 z-depth-3">
              <div class="card-content center-align">
                <ul>
                  <li>
                    <button class="waves-effect waves-light  light-blue darken-3 btn">
                      <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/viridiana-jaquez-a5073099">
                        <img src = 'http://static1.squarespace.com/static/540e1971e4b0131a4d81b4a4/54664b47e4b000e37a0a17f6/54664b47e4b02db36ef346fb/1419897377471/linkedin_circle.png' style='vertical-align: middle' width="30px" height="30px"/> Linkedin</a>
                    </button>
                  </li>
                  <li>
                    <button class="waves-effect waves-light red btn">
                      <a class="white-text" href="https://plus.google.com/u/0/118412999049710709633/posts/p/pub">  
                        <img src = 'https://lh3.googleusercontent.com/-IMGb4CkWC98/VeXR6rWlM1I/AAAAAAAA7c4/aC-I28R6_psCNtxmIXAtNuMja5wCYUR9A/w1664-h1664/GooglePlus-logos-02.png' style='vertical-align: middle' width="30px" height="30px"/></a>
                    </button>
                  </li>
                  <li>
                    <button class="waves-effect waves-light grey lighten-3 btn">
                      <a class="blue-grey-text text-darken-4" href="https://github.com/vjaquez">  
                        <img src = 'https://assets-cdn.github.com/images/modules/logos_page/Octocat.png' style='vertical-align: middle' width="32px" height="32px"/>GitHub</a>
                    </button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          
          <div class="col s12 m4 l4 blue-grey-text text-darken-3">
            
            <div class="card deep-orange lighten-4 z-depth-3">
              <div class="card-content white-text">
                <p class="flow-text" align="center">
                  <strong class="indigo-text  darken-4">Don't</strong> forget to <strong class="indigo-text  darken-4">download</strong> 
                  my <strong class="indigo-text lighten-1">resume!</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End of Connect Section -->
  
    <!-- **************** Job History: Collapsable Card **************** -->
    
    <div class="container ">
      <div class="col s12 m12 l12">
        <h2 class="header right-align title-header">Skills</h2>
          <!--i class="material-icons md-48">done_all</i> Skills</h1-->
        <ul class="collapsible deep-orange lighten-4 z-depth-2" id="collapse">
          <li class="active">
            <div class="collapsible-header center-align white-text active deep-orange lighten-2 "><i class="mdi-av-web"></i>Web Development Skills</div>
            <div class="collapsible-body center-align black-text"><p>Proficient with several programming language and documentation practices. E.g. Java, JavaScript, HTML, and CSS.</p></div>
          </li>
          <li>
            <div class="collapsible-header center-align white-text deep-orange lighten-2"><i class="mdi-editor-format-align-justify"></i>Personal Skills</div>
            <div class="collapsible-body center-align black-text">
              <ul>
                <li>●	Exceptional time management skills, and planning skills.</li>
                <li>●	A diligent worker, self motivated, and great with taking initiative.</li>
                <li>●	Enthusiastic, eager to learn, adapt well to fast change, great with identifying solutions to challenges, and finding value in collaboration.</li>
                <li>●	Project Management</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header center-align white-text deep-orange lighten-2"><i class="mdi-av-play-shopping-bag"></i>Technical Skills</div>
            <div class="collapsible-body center-align black-text">
              <ul>
                <li>●	Understanding of Network, Servers, and PC's troobleshooting</li>
                <li>●	Experienced with data-centered software and Microsoft Office Suites. E.g. Salesforce, iContact, MS Office 2010-2016.</li>
                <li>●	Familiarity with Windows, Mac OS X, and Linux application</li>
              </ul>
            </div>
          </li>
          <li>
            <div class="collapsible-header center-align white-text deep-orange lighten-2"><i class="mdi-editor-insert-comment"></i>Interests</div>
            <div class="collapsible-body center-align black-text">
              <ul>
                <li>●	Web Development.</li>
                <li>●	Criminal Law.</li>
                <li>●	Making the world a better place.</li>
              </ul>
            </div>
          </li>
        </ul>
      </div>

    </div> <!-- End of Collapsable Card -->
  

    <!-- ********************   Contact Card   ***************** -->
    
    <div class="col s12 m4 l4">
      <div class="container">
        <!--indigo lighten-5"-->
        <div class="card-content black-text">
          <div class="container contact">
            <h2 class="header center-align title-header">Contact Me</h2>
            <h6>Get In Touch!</h6>
            <hr>
            <div class="row"> 
              <div class="col s12 m12 l12 black-text">
                <div class="row">
                  <form class="col s12 black-text">
                    
                    <div class="row">
                      <div class="input-field col s6 black-text">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="first_name" type="text" class="validate black-text">
                        <label for="first_name">First Name</label>
                      </div>
                      <div class="input-field col s6 black-text">
                        <input id="last_name" type="text" class="validate black-text">
                        <label for="last_name">Last Name</label>
                      </div>
                    </div>
                    
                    <div class="row">
                      <div class="input-field col s12 black-text">
                        <i class="material-icons prefix">email</i>
                        <input id="email" type="email" class="validate black-text">
                        <label for="email">E-Mail</label>
                      </div>
                    </div>

                    <div class="input-field col s12">
                      <i class="material-icons prefix">mode_edit</i>
                      <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
                      <label for="icon_prefix2" class="">Message</label>
                      <button class="waves-effect waves-light deep-orange lighten-2 btn" type="submit" name="action">Submit
                        <i class="mdi-content-send right"> <i class="material-icons"> send</i> </i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- End of Contact Card -->

  
    <!-- ************** Footer ************** -->
    
    <footer class="page-footer indigo accent-2">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="footer-header white-text">Thanks for checking out my page!</h5>
            <img src="https://lh6.googleusercontent.com/-s5eEHdwaIJ4/VKM6p9yH_dI/AAAAAAAACjE/oRH4QqhzRfs/w800-h800/facebook-logo-png-transparent-background-i3.png" width="70px" height="70px"/></img>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="footer-header white-text">Connect With Me!</h5>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/viridiana-jaquez-a5073099">   <img src = 'https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_gray-512.png' style='vertical-align: middle' width="30px" height="30px"/> My Linkedin Account</a></li>
              <li><a class="grey-text text-lighten-3" href="https://github.com/vjaquez">  <img src = 'http://www.jennyzwang.com/gh2.png' style='vertical-align: middle' width="32px" height="32px"/> My GitHub Account</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container center-align">
        © 2016 Viridiana Jaquez, All rights reserved.
        </div>
      </div>
    </footer>
    
    <!-- **************** JS initializer for the Slider ***************** -->
    <script>
      $(document).ready(function() {
        $('.slider').slider({full_width: true});
      });
      
      $(".button-collapse").sideNav();
      
      var options = [
        {selector: '#collapse', offset: 400, callback: function() {
          Materialize.showStaggeredList("#collapse");
        } },
        {selector: '#image-test', offset: 500, callback: function() {
          Materialize.fadeInImage("#image-test");
        } }
      ];
      
      Materialize.scrollFire(options);
    </script>
    
    <!-- *****************    CSS Styles    ******************************** -->
    <style>
      
      .title-header {
          color: #536dfe;
          font-weight: 300;
      }
      
      .footer-header {
          font-weight: 300;
      }
      
    </style>
    
  </body>
  
</html>